body {
    background-color: red;
}

@media screen and (width <= 400px) {
    body {
        background-color: green;
    }
}

/* @media (400px <= width <= 600px) */

@media screen and (width <= 200px) {
    body {
        background-color: gold;
    }
}